.heading
{
    text-align: center;
    color: black;
}
hr{
    background-color: white;
}
form
{
     width:70%;
     min-width: 27rem;
     margin: auto;
}
.display
{
     display: flex;
     width:80%;
     min-width: 27rem;
     flex-wrap: wrap;
     justify-content: space-around;
     margin: auto;
    

}
input[type='checkbox']
{
height:20px;
width: 20px;
}
.description
{
    margin-bottom: 0px;
}
.habit
{
    border-left: 1px solid grey;
    border-right: 5px solid grey;
    width: 80%;
    min-width: 300px;
    height:auto;
    overflow-y: scroll;
    background-color: rgb(245, 250, 249);
}
.habit::-webkit-scrollbar {
    display: none;
}
.center
{
    margin:auto;
    width: 20%;
    
}

#addTask
{
    width: 10%;
    min-width:150px;
    padding: 5px;
    margin-top: 30px;
    margin-left: 50px;
    display: flex;
    justify-content: space-around;

}
#addTask span
{
    font-size: 20px;
}
.icon
{
    color: white;
    font-size: 10px;

}
.padding
{
    background-color:whitesmoke;
    padding: 20px;
}

.task-info
{
    display: inline-block;
    width:45%;
    margin: 0px;
}
.task-info-delete
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: red;
}
button,i
{
    cursor: pointer;
}
a{
    background-color: red;
    color:red;
    text-decoration: line-through;
}


#multiple-delete
{
   display: fixed;
    left:0;
    top:300;
    margin-bottom: 10px;
    
}
.toggle
{
    text-decoration: line-through;

}

#validationDefault05
{
    min-width: 150px;
    margin-right: 100px;
}
.task-info-checked input:checked+label
{
    text-decoration: line-through;
}
